.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: hsla(160, 100%, 37%, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    min-width: 300px;
    background-color: #181818;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 3px 3px 12px #181818;
}

.modalHeader {
    display: flex;
}

.titleWrapper {
    flex: 1;
    padding: 10px 15px;
    color: hsla(160, 100%, 37%, 1);
    font-size: 15px;
    line-height: 15px;
}

.closeButtonWrapper {

}

.closeButton {
    background-color: transparent;
    margin: 0;
    padding: 10px 15px;
    border: 0;
    border-radius: 1px;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    font-size: 15px;
}

.closeButton:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
}

.modalBody {
    padding: 0 15px 30px 15px;
}




