.questionText {
    margin: 30px 0 0 0;
    text-align: center;
    color: hsla(160, 100%, 37%, 1);
    font-weight: bold;
}

.inputWrapper {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
}

.nameInput {
    background: transparent;
    padding: 10px 20px;
    border: 1px solid hsla(160, 100%, 37%, 1);
    outline: none;
    color: hsla(160, 100%, 37%, 1);
    font-size: 15px;
}

.nameInput::placeholder {
    color: hsla(160, 100%, 37%, 0.2);
}

.buttonsWrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.cancelButton {
    background-color: transparent;
    margin: 0;
    padding: 10px 20px;
    border: 0;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    font-size: 15px;
}

.cancelButton:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
}

.saveButton {
    background-color: transparent;
    margin: 0;
    padding: 10px 20px;
    border: 0;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    font-size: 15px;
}

.saveButton:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
}
